[Unit]
Description=mqtt Kafka Bridge Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=mqttbridge
ExecStart=/usr/bin/python3 /usr/bin/mqtt_kafka_bridge.py
Restart=on-abort
StandardInput=tty-force

[Install]
WantedBy=multi-user.target